[user]
  name = Fauzan Radji
  email = 72055502+fauzan-radji@users.noreply.github.com
[init]
  defaultBranch = main
[alias]
  ac = !git add -A && git commit -m
  amend = commit --amend
  edit-date = commit --amend --no-edit --date
  branch-author = !git for-each-ref --format='%(authorname) %09 -%(refname)' | sort
  df = difftool --dir-diff
  edit-config = config --global -e
  gr = log -n 10 --all --oneline --decorate --graph
  graph = log --all --oneline --decorate --graph
  garph = graph
  grpah = graph
  last = log -1 HEAD
  tracked = !git log --pretty=format: --name-only --diff-filter=A | sort - | sed '/^$/d'
  permission-reset = !git diff -p -R --no-ext-diff --no-color --diff-filter=M | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
  alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  rupdate = !git fetch --all --prune && git graph
  undo = reset --soft HEAD~1
  cm = commit
  br = branch
  ch = checkout
  dev = checkout --track origin/dev
  main = checkout --track origin/main
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[core]
  autocrlf = input
